/*
Theme Name: Carton Theme
Theme URI: http://lms.vn/
Description: Theme for Quy Thuan Thanh company.
Author: thangnm@lms.vn
Author URI: http://lms.vn/
Version: 1.0
Tags: black, blue, white, two-columns, fixed-width, custom-header, custom-background, threaded-comments, sticky-post, translation-ready, microformats, rtl-language-support, editor-style, custom-menu (optional)

License:
License URI:

General comments (optional).
*/

/*#################################################*/
/* reset CSS*/
/*#################################################*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*#################################################*/
/*start CSS*/
/*#################################################*/
/*@font-face {
    font-family: 'Conv_MyriadPro-Regular';
    src: url('fonts/MyriadPro-Regular.eot');
    src: url('fonts/MyriadPro-Regular.ttf');
    src: local('☺'), url('fonts/MyriadPro-Regular.woff') format('woff'), url('fonts/MyriadPro-Regular.ttf') format('truetype'), url('fonts/MyriadPro-Regular.svg') format('svg');
}*/
/*@font-face {
    font-family: "Conv_MyriadPro-Regular";
    src: url("fonts/MyriadPro-Regular.otf") format("truetype");
}*/

body {
    margin: 0 auto;
    background: url("img/BG.jpg") repeat fixed center 0 transparent;
    /*font-family: "Conv_MyriadPro-Regular",Sans-Serif;*/
    font-family: verdana, arial;
}

p {
    font-size: 12px;
    line-height: 1.3;
    /*margin: 10px 0;*/
}

/*Header*/

#header {
    background: url("img/BGHeader.png") no-repeat 0 0 transparent;
    background-color: transparent;
    width: 809px;
    height: 215px;
    margin: 0 auto;
}

#header .language{
    /*clear: both;*/
    float: right;
    position: relative;
    top: -54px;
    text-align: right;
    width: 100%;
    right: 82px;
}
#header .language a{
    text-decoration: none;
    font-size: 11px;
    /*text-align: right;*/
    color: #6c0d0e;
}
#header .logo {
    position: relative;
    top: 50px;
    left: 25px;
    width: 50%;
}

#header .address {
    float: right;
    width: 34%;
    position: relative;
    top: -60px;
}

#header .address .email, #header .address .tel {
    clear: both;
}

#header .address .email img, #header .address .tel img {
    float: left;
    padding-bottom: 20px;
    margin-right: 7px;
}

#header > .address > .email > p.customfont, #header > .address > .tel > p.customfont {
    text-align: left;
    color: #fefcc0;
    font-size: 13px;
    font-family: "My Font", Verdana, Tahoma;
    line-height: 1.2;
}

/*NavMenu*/

.navmenu {
    background: url("img/bgNavMenu.png") repeat-x 0 0 transparent;
    height: 36px;
    width: 647px;
    margin: 0 auto;
    position: relative;
    top: 87px;
}

.navmenu ul.menu {
    width: 647px;
    height: 36px;
    float: left;
    display: table;
    table-layout: fixed;
    position: absolute;
    margin: 0;
    overflow: hidden;
}

.navmenu ul.menu li {
    display: table-cell;
    vertical-align: middle;
    /*float: left;*/
    /*width: 94px;*/
    /*height: 19px;*/
    text-align: center;
    /*padding: 9px 0 8px;*/
    border-image: url("img/borderNavMenu.png") 0 2 0 1;
    -moz-border-image: url("img/borderNavMenu.png") 0 2 0 1;
    -webkit-border-image: url("img/borderNavMenu.png") 0 2 0 1;
    -ms-border-image: url("img/borderNavMenu.png") 0 2 0 1 stretch;
    /*-ms-border:1px solid #b5b7b9 !important;*/
    -o-border-image: url("img/borderNavMenu.png") 0 2 0 1;
    border-style: solid;
    border-width: 0 2px 0 0;
    border-color:#b5b7b9 ;
    overflow: hidden;
}

.navmenu ul.menu li:last-child {
    border: none;
    border-image: none;
}

#header .navmenu ul.menu li:hover,#header .navmenu ul.menu li:active,#header .navmenu ul.menu li:focus, #header .active {
    background: url("img/bgNavMenu_active.png") repeat-x 0 0 transparent;
    outline: none;
    overflow: hidden;
}


.navmenu ul.menu li a {
    text-decoration: none;
    outline: none;
    font-size: 14px;
    color: #6b0b0c;
    background-position: 100% 0;
}
.navmenu ul.menu li a {
    /*background:url("img/bgNav.png") no-repeat 0 0 transparent;*/
}

/*Content*/
.contentall{
    position: relative;
    top: -10px;
}
#content {
    width: 648px;
    height: auto;
    margin: -1px auto;
    background-color: #fefbfb;
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 0 40px;
}

#content .banner {
    width: 645px;
    height: 224px;
    margin: 0 auto;
}

#content .productRight .banner .meteor-slides .meteor-buttons,#content .helppageRight .banner .meteor-slides .meteor-buttons,#content .technicalRight .banner .meteor-slides .meteor-buttons{
    left: 407px !important;
}
#content .banner .meteor-slides .meteor-buttons{
    bottom: 0 !important;
    left: 575px !important;
    width: auto;
    margin-bottom: 10px !important;
}

#content .banner img {
    /*margin-top: -10px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);*/
}
div.navpaged, div.navboth{
    margin-bottom: 0 !important;
}

#content .banner .shadowbanner {
    background: url("img/shadowBanner.png") no-repeat center center;
    height: 23px;
    margin: 0 auto;
    margin-top: -2px;
}

#content .bordercontent, #footer .bordercontent {
    background: url("img/borderBanner.png") repeat-x center;
    height: 6px;
    width: 648px;
    margin: 0 auto;
}

/*infoIndex*/

#content .infoIndex {
    width: 100%;overflow: hidden;
    margin: 0 auto;
    height: 275px;
    border-bottom: 1px solid #5a2800;
}

/*#content .blogIndex .infoIndexLeft p{
    min-height: 50px;
    max-height: 60px;
}*/
#content .infoIndex .infoIndexLeft, #content .blogIndex .infoIndexLeft, #content .blog .blogLeft {
    width: 68%;
    float: left;
    margin-top: 10px;
    /*margin-right: 10px;*/
}

#content .blogIndex .infoIndexRight {
    margin-top: 10px;
}

#content .infoIndex .infoIndexLeft h2, #content .blogIndex .infoIndexLeft h2, #content .blogIndex .infoIndexRight h2, h2 {
    color: #82a53d;
    font-weight: bold;
    font-size: 15px;
}
.readmore{
    color: #82a53d;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
    margin-top: -4px;
}

#content .infoIndex .infoIndexLeft h3, #content .blogIndex .infoIndexLeft h3 a {
    color: #5a2800;
    font-weight: bold;
    text-decoration: underline;
    margin: 5px 0;
    font-size: 13px;
}

#content .infoIndex .infoIndexLeft p {
    font-size: 12px;
    /*line-height: 1.2;*/
    margin: 10px 0;
}

#content .infoIndex .infoIndexRight, #content .blogIndex .infoIndexRight, #content .blog .blogRight {
    float: right;
    width: 29%;
}

#content .blogIndex .infoIndexRight h2 {
    margin-bottom: 8px;
}

#content .infoIndex .infoIndexRight ul li a, #content .productLeft ul li a {
    display: table-cell;
    vertical-align: middle;
    height: 36px;
}

#content .infoIndex .infoIndexRight ul li, #content .productLeft ul li, #content .technicalLeft ul li, #content .helppageLeft ul li {
    /*height: 36px;*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#cacbcd');
    /*    background-color: #cacbcd;
   *background-color: #cacbcd;*/
    background-image: -moz-linear-gradient(top, #fff, #cacbcd);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#cacbcd));
    background-image: -webkit-linear-gradient(top, #fff, #cacbcd);
    background-image: -o-linear-gradient(top, #fff, #cacbcd);
    background-image: linear-gradient(to bottom, #fff, #cacbcd);
    background-repeat: repeat-x;
    line-height: 1.3;
    padding: 5px 0 5px 5px;
    margin-top: 4px;
}
#content .infoIndex .infoIndexRight ul li{
    margin-top: 10px !important;
}
#content .infoIndex .infoIndexRight ul li p a{
    font-size: 12px !important;
}
#content .infoIndex .infoIndexRight ul li img{
    margin-right: 7px !important;
}

#content .infoIndex .infoIndexRight ul li img, #content .productLeft ul li img, #content .technicalLeft ul li img, #content .helppageLeft ul li img {
    float: left;
    margin-right: 5px;
}

#content .infoIndex .infoIndexRight ul li p a, #content .productLeft ul li p a{
    color: #6b0b0c;
    font-size: 12px;
    text-decoration: none;
    font-family: arial;
}

/*Footer*/

#footer {
    background: url("img/BGFooter.png") no-repeat 0 0 transparent;
    margin: 0 auto;
    height: 168px;
    width: 857px;
    padding-top: 50px;
}

#footer .likepage{
    text-align: right;
    width: 648px;
    margin: 0 auto;
    margin-top: 5px;
}

#footer .contentfooter {
    margin-top: -22px;
}

#footer .contentfooter .contentfooterleft, #footer .contentfooter .contentfootercenter, #footer .contentfooter .contentfooterright, #footer .contentfooter .copyright {
    float: left;
    color: #6b0b0c;
    font-size: 11px;
    position: relative;
    top: 78px;
    left: 126px;
    width: 25%;
}
.contentfooterleft li a, .contentfootercenter li a{
    color: #6b0b0c;
    text-decoration: none !important;
}

#footer .contentfooter .contentfooterright {
    width: 33% !important;
    margin-top: 16px;
    line-height: 1.2;
}

#footer .contentfooter .copyright {
    width: 46%;
    text-align: right;
    color: #ffffff !important;
    margin-top: 10px;
}
.copyright p{
    width: 420px;
}

#footer .contentfooter .contentfooterright p, #footer .contentfooter .copyright p {
    font-size: 11px;
}

#footer .contentfooter .contentfooterleft li, #footer .contentfooter .contentfootercenter li {
    margin: 3px 0;
}

.contentfooterright li a{color: #fff}
/*#################################################*/
/*About*/
/*#################################################*/

#content .about {
    width: 100%;
    margin: 0 auto;
    height: auto;
    overflow: auto;
    /*border-bottom: 1px solid #5a2800;*/
}

#content .about>h2{
    margin: 10px 0;
    font-size: 12px;
}
#content .about p{
    margin: 10px 0;
}
#content>.about>p>a{
    color: #0099cc;
    text-decoration: none;
}

/*#################################################*/
/*Eror 404*/
/*#################################################*/

#content .error404 {
    height: 570px;
    padding-top: 30px;
}

#content .errortext, #content .errorimg {
    width: 50%;
    float: left;
}

/*#################################################*/
/*Blog 404*/
/*#################################################*/

#content .blogIndex {
    width: 100%;
    margin: 0 auto;
    min-height: 95px;
    /*border-bottom: 1px solid #5a2800;*/
}

#content .blog {
    min-height: 315px;
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    overflow: auto;
}

#content .blogLeft {
    float: left;
}

#content .blogLeft h2, #content .blogRight h2 {
    color: #6b0b0c;
    font-weight: normal;
    font-size: 16px;
    height: 10px;
    padding: 10px 0 10px 10px;
}
#content .blogRight h2{
    font-style: italic;
    margin-bottom: 5px;
    text-decoration: underline;
}

#content .blog .blogLeft .blogLeftContent .blogLeftContentHeader {
    margin-top: 10px;
}

#content .blog .blogLeft .blogLeftContent .blogLeftContentHeader article span ul li a {
    text-decoration: none;
    color: #3f3a36;
}
#content .blog .blogLeft .blogLeftContent .blogLeftContentHeader article span ul {
    float: right;
    margin-left: 4px;
}
#content .blog .blogLeft .blogLeftContent .blogLeftContentHeader article p {
/*    margin-top: 33px !important;
    min-height: 162px;*/
    clear:both;
    padding-top: 5px;
}
#content .blog .blogLeft .blogLeftContent .blogLeftContentHeader article p img{
    margin-top: 10px;
}
#content .blog .blogLeft .blogLeftContent .blogLeftContentHeader article span {
    color:#3f3a36 ;
    font-size: 10px;
    margin-left: 4px;
    float: left;
}

#content .blog .blogLeft .blogLeftContent .blogLeftContentHeader article h3 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

#content .blog .blogLeft .blogLeftContent .blogLeftContentHeader article h3 a {
    text-decoration: none;
    color: #3f3a36;
}

#content .blog .blogLeft .blogLeftContent .blogLeftContentHeader article p, #content .blog .blogLeft .blogLeftContent .blogLeftContentHeader article img {
    font-size: 12px;
    color: #a19ea0;
    margin: 3px 0;
}

/*#content > .blog .blogLeft {
    *//*padding: 5px;*//*
}*/

#content .blog .blogLeft .blogLeftContent {
    padding: 5px 10px;
}

#content .blog .blogLeft .blogLeftContent a {
    text-decoration: none;
    color: #0099cc;
}
#content .blog .blogLeft .blogLeftContent .sublink p {
    font-size: 12px;
    padding: 5px 0;
    border-bottom: 1px solid #dedede;
    border-top: 1px solid #dedede;
}

#content .blogRight {
    margin-top: 10px;
    padding: 0 9px 0 5px;
}

#content .blog .blogRight .blogRightContent ul .newsnew p a {
    font-size: 11px;
    text-decoration: none;
    color: #a19ea0;
}
#content .blog .blogRight .blogRightContent ul .newsnew {
    width: 100%;
    float: left;
    margin-bottom: 5px;
    border-top: 1px solid #f6f6f6;
    padding: 5px 0;
}
#content .blog .blogRight .blogRightContent {
    /*min-height: 38px;*/
}

#content .blog .blogRight .blogRightContent div img {
    float: left;
    margin-right: 5px;
}

#content .blog .blogRight .blogRightContent div p {
    font-size: 12px;
    color: #a19ea0;
    line-height: 1.2;
}

.arrow {
    clear: both;
    position: relative;
    top: 38px;
}

/*#################################################*/
/*Contact*/
/*#################################################*/

#content .contactleft {
    width: 41.5%;
    float: left;
}

#content .contactleft .contactlefttop, #content .contactleft .contactleftbottom {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}

#content .contactleft .contactleftbottom {
    background-color: #ffffff;
    width: 100%;
    padding: 10px 0 15px 0;
    /*margin-top: 10px;*/
}

#content .contactleft .contactleftbottom table tr td:first-child {
    color: #6b0b0c;
    padding: 0 5px 0 15px;
}

#content .contactleft .contactleftbottom table {
    font-size: 13px;
    color: #565656;
}

#content .contactleft .contactleftbottom p {
    color: #565656;
    font-size: 13px;
}

#content .contactleft .contactleftbottom h2, #content .contactleft .contactleftbottom p, #content .contactleft .contactleftbottom table {
    margin-top: 10px;
    padding: 0 15px;
    line-height: 1.4;
}

#content .contact h2 {
    font-size: 24px;
    font-weight: bold;
    color: #82a53d;
}

#content .contactright {
    width: 52%;
    float: left;
    margin-left: 14px;
    padding: 17px 14px 0;
    color: #565656;
    line-height: 1.3;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

#content .contactright textarea, #content .contactright input {
    min-width: 92%;
    max-width: 92%;
    min-height: 20px;
    margin-bottom: 10px;
    background-color: #f7fae1;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1);
    /*border: 1px solid #565656;*/
    border: none;
    padding: 5px 4%;
    color: #6b0b0c;
    font-size: 15px;
}

#content .contactright textarea {
    min-height: 105px;
    max-height: 230px;
    min-width: 96%;
    max-width: 96%;
    padding-right: 0px;
}

#content .contactright p {
    margin-bottom: 10px;
}

#content .contactright .btn {
    float: right;
    background: url("img/bgButton.png") repeat-x 0 0 transparent;
    height: 20px;
    border: none;
    background-color: transparent;
    margin-left: 5px;
    color: #6b0b0c;
    outline: none;
    margin-bottom: 10px;
}

/*#################################################*/
/*Product*/
/*technical*/
/*helppage*/
/*#################################################*/

/*.als-viewport span{
    text-align: center;
}*/


#content .product, #content .technical, #content .helppage{
    min-height: 628px ;
    height: auto;
    overflow: auto;
    display: table;
}

.productLeft, .technicalLeft, .helppageLeft {
    width: 147px;
    float: left;
    margin-right: 1px;
}

#content .productLeft ul li:first-child, #content .technicalLeft ul li:first-child,#content .helppageLeft ul li:first-child {
    color: #6b0b0c;
    font-size: 14px;
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 165px;
    background: url("img/bgMenuProduct.png") repeat-x 0 0 transparent;
    height: 29px;
}

.productRight, .technicalRight, .helppageRight{
    float: left;
    border-image: url("img/borderVertical.png") 0 0 0 6;
    border-style: solid ;
    border-width:0 0 0 6px;
    width: 76.2%;
    border-color:#e4d9d2;
}
#content .productRight .productRightBottomTitle, #content .technicalRight .technicalRightBottomTitle, #content .helppageRight .helppageRightBottomTitle{
    height: 23px;
    background: url("img/bgTitleProduct.png") no-repeat 0 0 transparent;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    width: 99.8%;
}
#content .productRight .productRightBottomTitle p, #content .technicalRight .technicalRightBottomTitle p, #content .helppageRight .helppageRightBottomTitle p{
    padding: 3px 0 3px 30px;
}
#content .productRight .productRightBottomTitle p a, #content .technicalRight .technicalRightBottomTitle p a, #content .helppageRight .helppageRightBottomTitle p a{
    text-decoration: none;
    color: #6B0B0C;
    font-style: italic;
}
#content .productRight .productRightBottom,#content .productRight .technicalRightBottom, #content .helppageRight .helppageRightBottom{
    /*min-height: 430px;*/
    /*padding: 0 30px 30px 30px;*/
}
#content .productRight .banner,
#content .helppageRight .banner,
#content .technicalRight .banner{
    width: 494px;
    height: 173px;
}

#content .productRight .productRightBottom .productRightBottomContent,
#content .technicalRight .technicalRightBottom .technicalRightBottomContent,
#content .helppageRight .helppageRightBottom .helppageRightBottomContent{
    padding:30px 12px 15px 30px;
    height: 191px;
}
#content .als-prev{
    position: relative;
    top: -7px;

}
#content .productRight .productRightBottom .productRightBottomContent .boximgProductLi ul li,
#content .technicalRight .technicalRightBottom .technicalRightBottomContent .boximgProductLi ul li,
#content .helppageRight .helppageRightBottom .helppageRightBottomContent .boximgProductLi ul li{
    width: 95px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    text-align: center;
    margin-bottom: 5px;
}
#content .productRight .productRightBottom .productRightBottomContent .boximgProductLi ul li,
#content .helppageRight .helppageRightBottom .helppageRightBottomContent .boximgProductLi ul li{
    height: 20px;
    /*padding: 20px 0;*/
}
#content .technicalRight .technicalRightBottom .technicalRightBottomContent .boximgProductLi ul li{
    padding: 0;
    height: 60px;
}
#content .productRight .productRightBottom .productRightBottomContent .boximgProductLi,
#content .technicalRight .technicalRightBottom .technicalRightBottomContent .boximgProductLi,
#content .helppageRight .helppageRightBottom .helppageRightBottomContent .boximgProductLi{
    float: left;
    margin: -16px 0 0 15px;
    text-align: center;
    height: 229px !important;
    width: 105px !important;
}
#content .technicalRight .technicalRightBottom .technicalRightBottomContent .boximgProduct,
#content .productRight .productRightBottom .productRightBottomContent .boximgProduct,
#content .helppageRight .helppageRightBottom .helppageRightBottomContent .boximgProduct{
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    width: 303px;
    height: 190px;
    float: left;
    margin-bottom: 15px;
}
#content .productRight .productRightBottom .textProduct a{
    color: #83a53d;
    text-decoration: none;
}
#content .productRight .productRightBottom .textProduct,
#content .technicalRight .technicalRightBottom .textProduct,
#content .helppageRight .helppageRightBottom .textProduct{
    clear: both;
    /*padding: 0 30px;*/
}
#content .technicalRight .technicalRightBottom .textProduct h2,
#content .productRight .productRightBottom .textProduct h2,
#content .helppageRight .helppageRightBottom .textProduct h2{
    color: #83a53d;
    font-size: 16px;
}
#content .technicalRight .technicalRightBottom .textProduct p,
#content .productRight .productRightBottom .textProduct p,
#content .helppageRight .helppageRightBottom .textProduct p{
    width: 100%;
    margin-top: 10px;
    line-height: 1.3;
}
#content .technicalLeft ul li,
#content .helppageLeft ul li{
    text-align: center;
    padding: 5px 10px;
}
#content .technicalLeft ul li a,
#content .helppageLeft ul li a{
    /*text-align: center;*/
    color: #6b0b0c;
    font-size: 13px;
    text-decoration: none;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    /*width: 165px;*/
    height: 36px;
}
#content .technicalLeft ul li p,
#content .helppageLeft ul li p{
    text-align: center;
}


.imghelp{
    font-size: 12px;
    width: 100%;
    min-height: 80px;
    float: left;
    margin-top: 5px;
    padding: 10px;
    border: #6b0b0c 1px solid;
}
.imghelp .contentHelp{
    float: left;
    width: 52%;
    margin-right: 10px;
}

.imghelp .contentHelp h3{
    font-size: 11px;
    font-weight: bold;
    color: #5a2800;
}
.imghelp .contentHelp ul li{
    font-size: 9px;
    color: #565655;
    list-style: disc inside none;
    margin-top: 5px;
    text-indent: -11px;

}
.imghelp img{
    border: 3px solid #c4d82d;
    float: left;
    box-shadow: 0 5px 5px rgba(0,0,0,0.47);
    margin-right: 17px;
}
.textProduct{
    padding: 0 0 0 30px !important;
    width: 95%;
    margin-top: 15px;
}
.textHelp{
    /*padding: 0 0 0 30px !important;*/
    width: 100%;
    margin-top: 15px;
}